{% extends "base.html" %}


 {% block head %}
  <section class="content-header">
      <h1>
        人气最高
        <small>The highest popularity</small>
      </h1>
    </section>
  {% endblock head %}


{% block content %}
<div class="container">


            <header class="clearfix">

		<span class="support-note">本周浏览人气最高图书</span>
	        </header>

	<div  class="main">
		<ul id="bk-list" class="bk-list clearfix">
			<li>
				<div class="bk-book book-1 bk-bookdefault">
					<div class="bk-front">
						<div class="bk-cover">
							<h2>
								<span>Anthony Burghiss</span>
								<span>A Catwork Orange</span>
							</h2>
						</div>
						<div class="bk-cover-back"></div>
					</div>
					<div class="bk-page">
						<div class="bk-content bk-content-current">
							<p>Red snapper Kafue pike fangtooth humums slipmouth, salmon cutlassfish; swallower European perch mola mola sunfish, threadfin bream. Billfish hog sucker trout-perch lenok orbicular velvetfish. Delta smelt striped bass, medusafish dragon goby starry flounder cuchia round whitefish northern anchovy spadefish merluccid hake cat shark Black pickerel. Pacific cod.</p>
						</div>
						<div class="bk-content">
							<p>Whale catfish leatherjacket deep sea anglerfish grenadier sawfish pompano dolphinfish carp large-eye bream, squeaker amago. Sandroller; rough scad, tiger shovelnose catfish snubnose parasitic eel? Black bass soldierfish duckbill--Rattail Atlantic saury Blind shark California halibut; false trevally warty angler!</p>
						</div>
						<div class="bk-content">
							<p>Trahira giant wels cutlassfish snapper koi blackchin mummichog mustard eel rock bass whiff murray cod. Bigmouth buffalo ling cod giant wels, sauger pink salmon. Clingfish luderick treefish flatfish Cherubfish oldwife Indian mul gizzard shad hagfish zebra danio. Butterfly ray lizardfish ponyfish muskellunge Long-finned sand diver mullet swordfish limia ghost carp filefish.</p>
						</div>
					</div>
					<div class="bk-back">
						<p>In this nightmare vision of cats in revolt, fifteen-year-old Alex and his friends set out on a diabolical orgy of robbery, rape, torture and murder. Alex is jailed for his teenage delinquency and the State tries to reform him - but at what cost?</p>
					</div>
					<div class="bk-right"></div>
					<div class="bk-left">
						<h2>
							<span>Anthony Burghiss</span>
							<span>A Catwork Orange</span>
						</h2>
					</div>
					<div class="bk-top"></div>
					<div class="bk-bottom"></div>
				</div>
				<div class="bk-info">
					<button class="bk-bookback">翻转</button>
					<button class="bk-bookview">查看内容</button>
					<h3>
						<span>Anthony Burghiss</span>
						<span>A Catwork Orange</span>
					</h3>
					<p>社会预言？黑色喜剧？研究自由意志？发条橙就是所有这些。这也是一个令人眼花缭乱的语言实验，因为Burghiss创造了一种新语言 - “喵”，一个不太遥远的未来的猫俚语。</p>
				</div>
			</li>
			<li>
				<div class="bk-book book-2 bk-bookdefault">
					<div class="bk-front">
						<div class="bk-cover">
							<h2>
								<span>The Catfather</span>
								<span>Mario Purrzo</span>
							</h2>
						</div>
						<div class="bk-cover-back"></div>
					</div>
					<div class="bk-page">
						<div class="bk-content">
							<p>Whale catfish leatherjacket deep sea anglerfish grenadier sawfish pompano dolphinfish carp large-eye bream, squeaker amago. Sandroller; rough scad, tiger shovelnose catfish snubnose parasitic eel? Black bass soldierfish duckbill--Rattail Atlantic saury Blind shark California halibut; false trevally warty angler!</p>
						</div>
						<div class="bk-content">
							<p>Trahira giant wels cutlassfish snapper koi blackchin mummichog mustard eel rock bass whiff murray cod. Bigmouth buffalo ling cod giant wels, sauger pink salmon. Clingfish luderick treefish flatfish Cherubfish oldwife Indian mul gizzard shad hagfish zebra danio. Butterfly ray lizardfish ponyfish muskellunge Long-finned sand diver mullet swordfish limia ghost carp filefish.</p>
						</div>
						<div class="bk-content bk-content-current">
							<p>Red snapper Kafue pike fangtooth humums's slipmouth, salmon cutlassfish; swallower European perch mola mola sunfish, threadfin bream. Billfish hog sucker trout-perch lenok orbicular velvetfish. Delta smelt striped bass, medusafish dragon goby starry flounder cuchia round whitefish northern anchovy spadefish merluccid hake cat shark Black pickerel. Pacific cod.</p>
						</div>
					</div>
					<div class="bk-back">
						<p>Tyrant, blackmailer, racketeer, murderer - his influence reaches every level of American society. Meet Cat Corleone, a friendly cat, a just cat, a reasonable cat. The deadliest lord of the Cata Nostra. The Catfather.</p>
					</div>
					<div class="bk-right"></div>
					<div class="bk-left">
						<h2>
							<span>The Catfather</span>
							<span>by Mario Purrzo</span>
						</h2>
					</div>
					<div class="bk-top"></div>
					<div class="bk-bottom"></div>
				</div>
				<div class="bk-info">
					<button class="bk-bookback">翻转</button>
					<button class="bk-bookview">查看内容</button>
					<h3>
						<span>Mario Purrzo</span>
						<span>猫王</span>
					</h3>
					<p>作为现代杰作，“教父”是对20世纪40年代犯罪黑社会的灼热写照。这也是Corleone家族的亲密故事，它立刻被吸引到了美国黑手党核心的独特位置。</p>
				</div>
			</li>
			<li>
				<div class="bk-book book-3 bk-bookdefault">
					<div class="bk-front">
						<div class="bk-cover">
							<h2>
								<span>J.C. Salinger</span>
								<span>麦田里的守望者</span>
							</h2>
						</div>
						<div class="bk-cover-back"></div>
					</div>
					<div class="bk-page">
						<div class="bk-content bk-content-current">
							<p>Oceanic flyingfish spotted danio fingerfish leaffish, Billfish halibut Atlantic cod threadsail poacher slender mola. Swallower muskellunge, turbot needlefish yellow perch trout dhufish dwarf gourami false moray southern smelt cod dwarf gourami. Betta blue catfish bottlenose electric ray sablefish.</p>
						</div>
						<div class="bk-content">
							<p>Whale catfish leatherjacket deep sea anglerfish grenadier sawfish pompano dolphinfish carp large-eye bream, squeaker amago. Sandroller; rough scad, tiger shovelnose catfish snubnose parasitic eel? Black bass soldierfish duckbill--Rattail Atlantic saury Blind shark California halibut; false trevally warty angler!</p>
						</div>
						<div class="bk-content">
							<p>Trahira giant wels cutlassfish snapper koi blackchin mummichog mustard eel rock bass whiff murray cod. Bigmouth buffalo ling cod giant wels, sauger pink salmon. Clingfish luderick treefish flatfish Cherubfish oldwife Indian mul gizzard shad hagfish zebra danio. Butterfly ray lizardfish ponyfish muskellunge Long-finned sand diver mullet swordfish limia ghost carp filefish.</p>
						</div>
					</div>
					<div class="bk-back">
						<img src="/static/zhanshi/images/6.jpg" alt="cat"/>
						<p>Holden Catfield is a seventeen-year-old dropout who has just been kicked out of his fourth school. Navigating his way through the challenges of growing up, Holden dissects the 'phony' aspects of society.</p>
					</div>
					<div class="bk-right"></div>
					<div class="bk-left">
						<h2>
							<span>J.C. Salinger</span>
							<span>麦田里的守望者</span>
						</h2>
					</div>
					<div class="bk-top"></div>
					<div class="bk-bottom"></div>
				</div>
				<div class="bk-info">
					<button class="bk-bookback">翻转</button>
					<button class="bk-bookview">查看内容</button>
					<h3>
						<span>J.C. Salinger</span>
						<span>麦田里的守望者</span>
					</h3>
					<p>这本小说原本是为成年人出版的，后来因其主题是猫的困惑、焦虑、异化和反叛而受到青少年读者的欢迎。 </p>
				</div>
			</li>
		</ul>
	</div>















        </div>
{#    </div>#}
{#</div>#}
{% endblock content %}


